<a href="https://colab.research.google.com/github/KirtiRanjan26/Complete-Data-Science/blob/main/python_concept_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Inbuilt data structure in python

##list and list comprehension

What is list?

List is one of the built-in data types in Python. A Python list is a sequence of comma separated items, enclosed in square brackets [ ]. The items in a Python list need not be of the same data type.

List is an ordered collection of items. Each item in a list has a unique position index, starting from 0.

A list in Python is similar to an array in C, C++ or Java. However, the major difference is that in C/C++/Java, the array elements must be of same type

A Python list is mutable. Any item from the list can be accessed using its index, and can be modified.

In [ ]:
list1 = ['physics', 'chemistry', 1997, 2000]
list2 = [1, 2, 3, 4, 5, 6, 7 ]
print ("list1[0]: ", list1[0]) #acessing python
print ("list2[1:5]: ", list2[1:5])

list1[0]:  physics
list2[1:5]:  [2, 3, 4, 5]

In [ ]:
list = ['physics', 'chemistry', 1997, 2000];
print ("Value available at index 2 : ")
print (list[2])
list[2] = 2001; #update value
print ("New value available at index 2 : ")
print (list[2])

Value available at index 2 :
1997
New value available at index 2 :
2001

In [ ]:
del list1[2] #delete element in list
print ("After deleting value at index 2 : ")
print (list1)
popped_list1=list1.pop() #remove and return last  elements.
print(popped_list1)
list1.remove('chemistry') #remove element
print(list1)

After deleting value at index 2 :
['physics', 'chemistry', 2000]
2000
['physics']

In [ ]:
print([1, 2, 3] + [4, 5, 6]) #concatination

[1, 2, 3, 4, 5, 6]

In [ ]:
print(['Hi!'] * 4)#repetation
print(3 in [1, 2, 3])#membership

['Hi!', 'Hi!', 'Hi!', 'Hi!']
True

In [ ]:
list1 = ["a", "b", "c", "d"]
print ("Original list: ", list1)
list1.append('e') #append using insert elemet at the end.
print ("List after appending: ", list1)

Original list:  ['a', 'b', 'c', 'd']
List after appending:  ['a', 'b', 'c', 'd', 'e']

In [ ]:
list1 = ["Rohan", "Physics", 21, 69.75]
list1.insert(2, 'Chemistry') #insert(index,new_item)
print ("List after appending: ", list1)
list1.insert(-1, 'Pass')
print ("List after appending: ", list1)
# Original list
list1 = [1, 2, 3]
# Another list to extend with
another_list = [4, 5, 6]

list1.extend(another_list)
print("Extended list:", list1)

List after appending:  ['Rohan', 'Physics', 'Chemistry', 21, 69.75]
List after appending:  ['Rohan', 'Physics', 'Chemistry', 21, 'Pass', 69.75]
Extended list: [1, 2, 3, 4, 5, 6]

In [ ]:
lst = [25, 12, 10, -21, 10, 100]#loop in list
for index,num in enumerate(lst):
   print (index,num)
lst = [25, 12, 10, -21, 10, 100]
indices = range(len(lst))
for i in indices:
   print ("\n lst[{}]: ".format(i), lst[i])
for i in lst:
  print(i)

0 25
1 12
2 10
3 -21
4 10
5 100

 lst[0]:  25

 lst[1]:  12

 lst[2]:  10

 lst[3]:  -21

 lst[4]:  10

 lst[5]:  100
25
12
10
-21
10
100

###list comprehension.
A list comprehension is a concise way to create lists. It is similar to set builder notation in mathematics. It is used to define a list based on an existing iterable object, such as a list, tuple, or string, and apply an expression to each element in the iterable.

Syntax of Python List Comprehension
The basic syntax of list comprehension is âˆ’

new_list = **[expression for item in iterable if condition]**
Where,

1)**expression** is the operation or transformation to apply to each item in the iterable. **what will be do or what operation perform**

2)**item** is the variable representing each element in the iterable.

3)**iterable** is the sequence of elements to iterate over.

4)**condition** (optional) is an expression that filters elements based on a specified condition.

In [ ]:
list1=[]
for x in range(10):
  list1.append(x**2)
print(list1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
[ x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
string = "hello world"
uppercase_letters = [char.upper() for char in string if char.isalpha()]
print(uppercase_letters)

['H', 'E', 'L', 'L', 'O', 'W', 'O', 'R', 'L', 'D']

In [ ]:
squre=[num**2 for num in range(20) if num%2==0]#print list of squre of 2 divisible
print(squre)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [ ]:
maa=[salary*2 for salary in range(20) if salary%2!=0]
print(maa)

[2, 6, 10, 14, 18, 22, 26, 30, 34, 38]

In [ ]:
strg="Hare KriShna"
print(strg.upper())
newstring=[string.upper() for string in strg if string.lower()]

print(str(newstring))

HARE KRISHNA
['H', 'A', 'R', 'E', ' ', 'K', 'R', 'I', 'S', 'H', 'N', 'A']

In [ ]:
list1=[1,2,3,4,5,6,7,8]
list2=[2,4,6,7]
pair=[[i,j] for i in list1 for j in list2 if i==j] ##nested list comprehension
print(pair)

[[2, 2], [4, 4], [6, 6], [7, 7]]

In [ ]:
list4=[12,6,17,4,15,19,13,20]
new_pair=[[i,j] for i in list4 for j in list4 if i==0]
print(new_pair)

[[12, 12], [12, 6], [12, 4], [12, 20], [6, 12], [6, 6], [6, 4], [6, 20], [4, 12], [4, 6], [4, 4], [4, 20], [20, 12], [20, 6], [20, 4], [20, 20]]

# python tupple

###A tuple is a collection which is ordered and unchangeable.Tuples are written with round brackets. it is **immutable** in nature.
###Tuple items are ordered, unchangeable, and allow duplicate values.

In [ ]:
#find the type of the datatype
new_tupple = ("apple", "banana", "cherry")
print(type(new_tupple))

<class 'tuple'>

In [ ]:
#allow duplicate element
new_tupple = ("apple", "banana", "cherry","apple")
print(new_tupple)

('apple', 'banana', 'cherry', 'apple')

In [ ]:
#length of the tupple
new_tupple = ("apple", "banana", "cherry")
print(len(new_tupple))

3

In [ ]:
# some remamber things
new_tupple=("apple") #that is not a tupple
print(new_tupple)
print(type(new_tupple))
new_tupple=("apple",) #that is a tupple
print(new_tupple)
print(type(new_tupple))

apple
<class 'str'>
('apple',)
<class 'tuple'>

In [ ]:
#what is the meanning of unchangeable
new_tupple = ("apple", "banana", "cherry")
new_tupple[1] = "blackcurrant" # This will raise an error
print(new_tupple)

TypeError: 'tuple' object does not support item assignment

In [ ]:
thistuple = tuple(("apple", "banana", "cherry"))# note the double round-brackets
thistuple1=tuple(([1,3,4,5,6],"kirti"))# list is also contain inside of tuple
print(thistuple1)
print(thistuple)

([1, 3, 4, 5, 6], 'kirti')
('apple', 'banana', 'cherry')

In [ ]:
#access element from the tuple
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])
print(thistuple[-1])
print(thistuple[2:5])#out of range not error
print(thistuple[-4:-1]) #reverse out of range not error
print(thistuple[1:])
print(thistuple[:2])
print(thistuple[:])
print(thistuple[::2])

banana
cherry
('cherry',)
('apple', 'banana')
('banana', 'cherry')
('apple', 'banana')
('apple', 'banana', 'cherry')
('apple', 'cherry')

##unpack tupple
######When we create a tuple, we normally assign values to it. This is called "packing" a tuple.But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

In [ ]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits #using asterisk

print(green)
print(yellow)
print(red)
print(type(red)) #the remaining part of the tuple is store in list type in an element

apple
banana
['cherry', 'strawberry', 'raspberry']
<class 'list'>

##loop use in tuple

In [ ]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [ ]:
thistuple = ("apple", "banana", "cherry")#print as indexing
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [ ]:
#using while loop
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

### join tuple or concatinate tuple

In [ ]:
#join tuple
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)
#multiple tuple
print(tuple1*2)

('a', 'b', 'c', 1, 2, 3)
('a', 'b', 'c', 'a', 'b', 'c')

### common method use in tuple
#### 1) count() 2)index()

In [ ]:
#use count() in tuple
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.count(5)
print(x)
#using index()
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.index(8) #always print the index of spesific elemet that come first in the tuple
#here first 8 are come at index 3 so it return 3 not going another 8 that present in  at 8 number index
print(x)

2
3

# SET
### A set is a collection which is unordered, unchangeable*, and unindexed.
### note:-Set items are unchangeable, but you can remove items and add new items.
### Sets are written with curly brackets.
### Sets cannot have two items with the same value.

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [ ]:
#access set in python
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
cherry
apple

# Exersise of Set

In [ ]:
"""Assignment 1: Creating and Accessing Sets,
    "Create a set with the first 10 positive integers. Print the set."""
s=set(range(1,11))
print(s)
for i in range(11):
  print(i)
"""Assignment 2: Adding and Removing Elements\n",
    "\n",
    "Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set."""
s.add(11)
s.remove(1)
print(s)
""" Assignment 3: Set Operations\n",
    "\n",
    "Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets."
"""
s1=set(range(1,6))
s2=set(range(2,11,2))
print("Union:{}".format(s1.union(s2)))
print(s1.intersection(s2))
print("difference:{}".format(s1.difference(s2)))
print(s1.symmetric_difference(s2))
"""Assignment 4: Set Comprehensions\n",
    "\n",
    "Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set."
   """
set_omprehension={x**2 for x in range(1,11)}
print(set_omprehension)
set_comprehension2={x for x in range(1,11) if x%2==0}
print(set_comprehension2)

"""Assignment 5: Filtering Sets\n",
    "\n",
    "Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set."
"""
set_comprehension3={x for x in s if x%2==0}
print("even:",set_comprehension3)
"""Assignment 6: Set Methods\n",
    "\n",
    "Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set."""
unique_set={1,2,3,2,4,1,5,3,6}
print(unique_set)
unique_set.remove(2)
print(unique_set)

"""Assignment 7: Subsets and Supersets\n",
    "\n",
    "Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results."
   """
set3=set(range(1,6))
set4=set(range(1,4))
print(set3.issubset(set4))
print(set3.issuperset(set4))
"""Assignment 8: Frozenset\n",
    "\n",
    "Create a frozenset with the first 5 positive integers. Print the frozenset."
   """
fs=frozenset(range(1,6))#A frozen set is similar to a set in Python,
# but frozen sets are immutable, so elements cannot be added or removed after they've been created.
print(fs)
print(type(fs))

""" Assignment 9: Set and List Conversion\n",
    "\n",
    "Create a set with the first 5 positive integers.
Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set."""

set6=set(range(1,6))
con_list=list(set6)
con_list.append(6)
print(con_list)
print(set(con_list))

"""Assignment 10: Set and Dictionary\n",
    "\n",
    "Create a dictionary with set keys and integer values. Print the dictionary."
"""
dict1={1,2,3,4,5}
print(dict1)
"""Assignment 15: Set of Tuples\n",
    "\n",
    "Create a set containing tuples, where each tuple contains two elements. Print the set."
"""
s = { (1, 2), (3, 4), (5, 6) }
print(s)
set_specific={i for i in s if i[0]==3}
print(set_specific)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
0
1
2
3
4
5
6
7
8
9
10
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
Union:{1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
difference:{1, 3, 5}
{1, 3, 5, 6, 8, 10}
{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}
{2, 4, 6, 8, 10}
even: {2, 4, 6, 8, 10}
{1, 2, 3, 4, 5, 6}
{1, 3, 4, 5, 6}
False
True
frozenset({1, 2, 3, 4, 5})
<class 'frozenset'>
[1, 2, 3, 4, 5, 6]
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5}
{(1, 2), (3, 4), (5, 6)}
{(3, 4)}